.head-style{
    position:fixed;
    width:54%;
    z-index:3;
    height:50px;
    background-color: white;
}

.head-images{
    
    height:20px;
    width:20px;
    margin:5px;
}

.products-style{
    padding-top:50px;
}