.product-container{
    clear:left;
    padding:30px 20px 20px 0
}

.product-text{
    padding:10px;
    position:relative;
    left:10px;
    bottom:50px
}

.product-image{
    float:left;
}

.product-border{
    border:1px solid #eee;
    position: relative;
    top: 25px;
}

.product-container-details{
    clear:left;
    padding:30px 20px 20px 0
}

.product-text-details{
    display:inline-block;
    padding:10px;
    position:relative;
    left:250px;
    bottom:250px;
    width:500px;
}

.product-details{
    text-align: justify;
}


.product-border-details{
    border:1px solid #eee;
    position: relative;
    top: 25px;
}