.product-container{
    clear:left;
    padding:30px 20px 20px 0;
}

.product-text{
    padding:10px;
    position:relative;
    left:10px;
    bottom:40px
}

.product-image{
    float:left;
}

.product-border{
    border:1px solid #eee;
    position: relative;
    top: 25px;
}

.product-container-details{
    clear:left;
    padding:30px 20px 20px 0
}

.product-text-details{
    display:inline-block;
    padding:10px;
    position:relative;
    left:250px;
    bottom:250px;
    width:500px;
}

.product-details{
    text-align: justify;
}


.product-border-details{
    border:1px solid #eee;
    position: relative;
    top: 25px;
}

.compare-button{
    font-size:12px;
    height:30px;
    position:relative;
    top:50px;
    background-color: #f3cd6f;
    border: 1px solid #f3cd6f;
    color:#53112e;
    
}
button:hover{
    background-color: #f3cd6f ;
    border:1px solid #f3cd6f;
    color:#53112e ;
    filter:brightness(1.2);
}

button:active{
    background-color: #f3cd6f ;
    border:1px solid #f3cd6f ;
    color:#53112e;
    filter:brightness(1.2);
}